  .videoTitle {
    font-size:medium;
  }
  
  /* 
  This is the starting grid for each video with thumbnails 5 across for the largest screen size.
  It's important to use percentages or there may be gaps on the right side of the page. 
  */
  .video {
    background: #fff;
    padding-bottom: 20px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    margin: 1%;
    float: left;
    text-align: center
  }

   /* These keep the height of each video consistent between YouTube and Vimeo.
   Each can have thumbnail sizes that vary by 1px and are likely break your layout. */
  .video figure {
    height: 0;
    padding-bottom: 50%;
